<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   
   <h3> getsession </h3>
   <p>Get Session data sucessfully </p>
         {{name}} <br>
         {{lastname}} <br>
         {{expire_date}} <br>
         {{expire_age}} <br>
         {{session_items}} <br>
         {{session_keys}} <br>
         {{modified_data}} <br>
         {{get_exp_br}} <br>
  </body>
</html>